<nb-card>
  <nb-card-header>
    {{ header }}
  </nb-card-header>
  <nb-card-body>
    <nb-tabset fullWidth (changeTab)="onTypeChange($event)">
      <nb-tab
        tabTitle="Expense"
        [tabindex]="types.Expense"
        tabIcon="trending-down-outline"
      >
        <create-or-edit-expense
          *ngIf="transaction.type == types.Expense"
          [transaction]="transaction"
          [editing]="editing"
          [date]="transaction.date"
        >
        </create-or-edit-expense>
      </nb-tab>
      <nb-tab
        tabTitle="Income"
        [tabindex]="types.Income"
        tabIcon="trending-up-outline"
      >
        <create-or-edit-income
          *ngIf="transaction.type == types.Income"
          [transaction]="transaction"
          [editing]="editing"
          [date]="transaction.date"
        >
        </create-or-edit-income>
      </nb-tab>
      <nb-tab
        tabTitle="Transfer"
        [tabindex]="types.Transfer"
        tabIcon="swap-outline"
      >
        <create-or-edit-transfer
          *ngIf="transaction.type == types.Transfer"
          [transaction]="transaction"
          [editing]="editing"
          [date]="transaction.date"
        >
        </create-or-edit-transfer>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
  <nb-card-footer class="text-center">
    <div class="row">
      <div class="col-sm-6">
        <button class="cancel" nbButton status="danger" (click)="cancel()">
          Cancel
          <nb-icon icon="close-outline"></nb-icon>
        </button>
      </div>
      <div class="col-sm-6">
        <button nbButton status="success" (click)="submit()">
          Submit
          <nb-icon icon="save-outline"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
