<div class="row" *ngIf="transaction">
  <div class="col-sm-12">
    <nb-card>
      <nb-card-header>
        <span class="title">{{ transaction.description }}</span>
        <div class="buttons">
          <button
            nbButton
            nbTooltip="Edit"
            nbTooltipPlacement="right"
            size="tiny"
            class="header-button"
            (click)="onEditClick()"
          >
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
          <button
            *ngIf="
              transaction.needsConfirmation && !transaction.isConfirmed.value
            "
            nbTooltip="Confirm"
            nbTooltipPlacement="right"
            nbButton
            size="tiny"
            status="warning"
            class="header-button"
            (click)="onConfirmClick()"
          >
            <nb-icon icon="checkmark-outline"></nb-icon>
          </button>
          <button
            nbTooltip="Delete"
            nbTooltipPlacement="right"
            nbButton
            size="tiny"
            status="danger"
            class="header-button"
            (click)="onDeleteClick()"
          >
            <nb-icon icon="trash-2-outline"></nb-icon>
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <table>
          <tbody>
            <tr>
              <th>Id</th>
              <td>{{ transaction.id }}</td>
            </tr>
            <tr>
              <th>Date</th>
              <td>{{ transaction.date | date }}</td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
