.category-description-container {
  margin-left: 20px;
  display: inline-block;
}

.child-row {
  margin-left: 20px;
}

nb-tree-grid-row-toggle {
  position: relative;
  top: -4px;
}

.expand-toggle-container {
  display: inline;
}

.toggle {
  width: 21px;
  display: inline-block;
}
