<table>
  <tbody>
    <tr>
      <th>Account</th>
      <td>
        <account-picker
          [fullWidth]="true"
          [(accountId)]="recurringTransaction.accountId"
          [onlyNormalAccounts]="true"
        ></account-picker>
      </td>
    </tr>
    <tr>
      <th>Period</th>
      <td>
        <period-picker
          [start]="recurringTransaction.startDate"
          [end]="recurringTransaction.endDate.valueOrElse(undefined)"
          [allowOnlyStart]="true"
          (periodChanged)="periodChanged($event)"
        ></period-picker>
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td>
        <input
          type="text"
          placeholder="Description"
          nbInput
          fieldSize="small"
          fullWidth
          [(ngModel)]="recurringTransaction.description"
        />
      </td>
    </tr>
    <tr>
      <th>Amount</th>
      <td class="amount-cell">
        <nb-form-field>
          <nb-icon nbPrefix icon="euro-sign" pack="fas"></nb-icon>
          <input
            type="number"
            step="1"
            min="0"
            placeholder="100,00"
            nbInput
            fieldSize="small"
            fullWidth
            [(ngModel)]="recurringTransaction.amount"
          />
        </nb-form-field>
        <div
          *ngIf="splitwiseIntegrationEnabled"
          class="amount-start-split"
          (click)="toggleSpecifyingSplits()"
        >
          <span *ngIf="hasSplits">Remove splits...</span>
          <span *ngIf="!hasSplits">Specify splits...</span>
        </div>
      </td>
    </tr>
    <tr *ngIf="splitwiseIntegrationEnabled && hasSplits">
      <th>
        <div>Splits</div>
        <nb-select
          class="split-type-select"
          placeholder="Split type"
          [(selected)]="splitType"
          (selectedChange)="onSplitTypeChanged()"
          [fullWidth]="false"
          size="tiny"
        >
          <nb-option
            *ngFor="let type of splitTypes | enumToArray"
            [value]="type.index"
            >{{ type.name }}</nb-option
          >
        </nb-select>
      </th>
      <td>
        <table class="splits-table">
          <tr *ngFor="let split of splits" class="split-row">
            <td
              [ngClass]="{
                equal: splitType == splitTypes.Equal,
                stakes: splitType == splitTypes.Stakes,
                exact: splitType == splitTypes.Exact
              }"
            >
              <nb-checkbox
                *ngIf="splitType == splitTypes.Equal"
                class="checkbox"
                [(checked)]="split.hasSplit"
                (checkedChange)="calculateSplitAmounts()"
              ></nb-checkbox>
              <span class="name" [ngClass]="{ me: split.userId == -1 }">
                {{ split.name }}</span
              >
              <div *ngIf="splitType == splitTypes.Stakes" class="stake-input">
                <div class="counter">
                  <div
                    *ngIf="split.stake > 0"
                    class="minus"
                    (click)="addToStake(split, -1)"
                  >
                    &#8211;
                  </div>
                  <div
                    class="count"
                    [ngClass]="{
                      hasStake: split.stake > 0,
                      noStake: split.stake == 0
                    }"
                    (click)="addToStakeIfZero(split)"
                  >
                    {{ split.stake }}
                  </div>
                  <div class="plus" (click)="addToStake(split, 1)">+</div>
                </div>
              </div>
              <div *ngIf="splitType == splitTypes.Exact" class="exact-input">
                <nb-form-field>
                  <nb-icon nbPrefix icon="euro-sign" pack="fas"></nb-icon>
                  <input
                    type="number"
                    step="1"
                    min="0"
                    placeholder="0,00"
                    nbInput
                    fieldSize="tiny"
                    [(ngModel)]="split.amount"
                  />
                </nb-form-field>
              </div>
              <span *ngIf="splitType != splitTypes.Exact" class="split-amount">
                {{ split.amount | currency: "EUR" }}
              </span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <th>Category</th>
      <td>
        <category-picker
          [fullWidth]="true"
          [category]="recurringTransaction.categoryId.valueOrElse(undefined)"
          (categoryChange)="setCategoryId($event)"
        ></category-picker>
      </td>
    </tr>
    <tr>
      <th>Interval</th>
      <td>
        <input
          type="number"
          step="1"
          min="1"
          placeholder="3"
          nbInput
          fieldSize="small"
          fullWidth
          [(ngModel)]="recurringTransaction.interval"
        />
      </td>
    </tr>
    <tr>
      <th>Unit</th>
      <td>
        <nb-select
          placeholder="Unit"
          [(selected)]="recurringTransaction.intervalUnit"
          size="small"
        >
          <nb-option
            *ngFor="let type of intervalUnits | enumToArray"
            [value]="type.index"
            >{{ type.name }}</nb-option
          >
        </nb-select>
      </td>
    </tr>
    <tr>
      <th>
        Needs confirmation
        <nb-icon
          icon="info-outline"
          nbTooltip="Created transactions need to be manually confirmed before being processed. Check this when you don't know the exact date or amount."
          status="info"
        ></nb-icon>
      </th>
      <td>
        <nb-checkbox
          [(checked)]="recurringTransaction.needsConfirmation"
        ></nb-checkbox>
      </td>
    </tr>
    <tr *ngIf="editing">
      <th>
        Re-add transactions
        <nb-icon
          icon="info-outline"
          nbTooltip="Remove already created transactions and create them again with the updated recurring transaction"
          status="info"
        ></nb-icon>
      </th>
      <td>
        <nb-checkbox
          [checked]="updateInstances"
          (checkedChange)="onUpdateInstanceChange($event)"
        ></nb-checkbox>
      </td>
    </tr>
  </tbody>
</table>
