.account-description {
  margin-left: 5px;
  margin-top: 4px;
  display: block;
}

.account-description-container {
  height: 32px;
}

wv8-icon-with-background.child {
  margin-top: 6px;
}

nb-option {
  padding-left: 10px !important;
}

nb-option.child {
  padding-left: 25px !important;
}
