<div class="row">
  <div class="col-sm-12">
    <nb-card>
      <nb-card-header>
        <span class="title">Transactions</span>
        <button
          nbButton
          class="header-button"
          size="tiny"
          status="primary"
          (click)="onClickAdd($event)"
        >
          <nb-icon icon="plus-outline"></nb-icon>
        </button>

        <div class="header-filter">
          <div class="row">
            <div class="col-xxxl-1 show-on-xxxl"></div>
            <div class="col-sm-12 col-lg-6 col-xl-4 col-xxxl-2">
              <account-picker
                placeholderText="Filter account"
                [showResetOption]="true"
                [selectDefault]="false"
                [(accountId)]="accountFilter"
                (accountChange)="filter()"
                [fullWidth]="true"
              ></account-picker>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-4 col-xxxl-2">
              <category-picker
                placeholderText="Filter category"
                [showResetOption]="true"
                [(category)]="categoryFilter"
                (categoryChange)="filter()"
                [fullWidth]="true"
              ></category-picker>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-4 col-xxxl-2">
              <input
                nbInput
                type="text"
                [fieldSize]="'small'"
                placeholder="Filter description"
                [(ngModel)]="descriptionFilter"
                (keyup)="filter()"
                [fullWidth]="true"
              />
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-4 col-xxxl-2">
              <nb-select
                placeholder="Filter type"
                [(selected)]="typeFilter"
                (selectedChange)="filter()"
                [fullWidth]="true"
                size="small"
                [fullWidth]="true"
              >
                <nb-option [value]="undefined">None</nb-option>
                <nb-option
                  *ngFor="let type of transactionTypes | enumToArray"
                  [value]="type.index"
                  >{{ type.name }}</nb-option
                >
              </nb-select>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-4 col-xxxl-2">
              <period-picker
                (periodChanged)="onSetPeriod($event)"
                [showClearButton]="true"
                [setInitialValue]="false"
              ></period-picker>
            </div>
            <div class="col-xxxl-1 show-on-xxxl"></div>
          </div>
        </div>
      </nb-card-header>

      <nb-card-body>
        <transaction-table
          *ngIf="transactionGroup"
          [rowsPerPage]="rowsPerPage"
          [totalRows]="transactionGroup.totalSearchResults"
          [retrievalFunction]="retrievalFunction"
          [transactions]="transactionGroup.transactions"
        ></transaction-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
