<div class="row" *ngIf="budget">
  <div class="col-sm-12">
    <nb-card>
      <nb-card-header>
        <span class="title">Budget for {{ budget.category.description }}</span>
        <button
          nbButton
          nbTooltip="Edit"
          nbTooltipPlacement="right"
          size="tiny"
          (click)="onEditClick()"
        >
          <nb-icon icon="edit-outline"></nb-icon>
        </button>
        <button
          nbTooltip="Delete"
          nbTooltipPlacement="right"
          nbButton
          size="tiny"
          status="danger"
          (click)="onDeleteClick()"
        >
          <nb-icon icon="trash-2-outline"></nb-icon>
        </button>
      </nb-card-header>
      <nb-card-body>
        <table>
          <tbody>
            <tr>
              <th>Id</th>
              <td>{{ budget.id }}</td>
            </tr>
            <tr>
              <th>Default</th>
              <td></td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
