<table *ngIf="transaction.fullyEditable" class="transaction-input-table">
  <tbody>
    <tr>
      <th>Account</th>
      <td>
        <account-picker
          [fullWidth]="true"
          [(account)]="transaction.accountId"
          [onlyNormalAccounts]="true"
        ></account-picker>
      </td>
    </tr>
    <tr>
      <th>Date</th>
      <td>
        <date-picker
          [date]="transaction.date"
          (dateChange)="dateChanged($event)"
        ></date-picker>
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td>
        <input
          type="text"
          placeholder="Description"
          nbInput
          fieldSize="small"
          fullWidth
          [(ngModel)]="transaction.description"
        />
      </td>
    </tr>
    <tr>
      <th>Amount</th>
      <td class="amount-cell">
        <nb-form-field>
          <nb-icon nbPrefix icon="euro-sign" pack="fas"></nb-icon>
          <input
            type="number"
            step="1"
            min="0"
            placeholder="100,00"
            nbInput
            fieldSize="small"
            fullWidth
            [(ngModel)]="transaction.amount"
            (ngModelChange)="calculateSplitAmounts()"
          />
        </nb-form-field>
        <div class="amount-start-split" (click)="toggleSpecifyingSplits()">
          <span *ngIf="hasSplits">Remove splits...</span>
          <span *ngIf="!hasSplits">Specify splits...</span>
        </div>
      </td>
    </tr>
    <tr *ngIf="hasSplits">
      <th>
        <div>Splits</div>
        <nb-select
          class="split-type-select"
          placeholder="Split type"
          [(selected)]="splitType"
          (selectedChange)="onSplitTypeChanged()"
          [fullWidth]="false"
          size="tiny"
        >
          <nb-option
            *ngFor="let type of splitTypes | enumToArray"
            [value]="type.index"
            >{{ type.name }}</nb-option
          >
        </nb-select>
      </th>
      <td>
        <table class="splits-table">
          <tr *ngFor="let split of splits" class="split-row">
            <td
              [ngClass]="{
                equal: splitType == splitTypes.Equal,
                stakes: splitType == splitTypes.Stakes,
                exact: splitType == splitTypes.Exact
              }"
            >
              <nb-checkbox
                *ngIf="splitType == splitTypes.Equal"
                class="checkbox"
                [(checked)]="split.hasSplit"
                (checkedChange)="calculateSplitAmounts()"
              ></nb-checkbox>
              <span class="name" [ngClass]="{ me: split.user.isNone }">
                {{ split.name }}</span
              >
              <div *ngIf="splitType == splitTypes.Stakes" class="stake-input">
                <div class="counter">
                  <div
                    *ngIf="split.stake > 0"
                    class="minus"
                    (click)="addToStake(split, -1)"
                  >
                    &#8211;
                  </div>
                  <div
                    class="count"
                    [ngClass]="{
                      hasStake: split.stake > 0,
                      noStake: split.stake == 0
                    }"
                    (click)="addToStakeIfZero(split)"
                  >
                    {{ split.stake }}
                  </div>
                  <div class="plus" (click)="addToStake(split, 1)">+</div>
                </div>
              </div>
              <div *ngIf="splitType == splitTypes.Exact" class="exact-input">
                <nb-form-field>
                  <nb-icon nbPrefix icon="euro-sign" pack="fas"></nb-icon>
                  <input
                    type="number"
                    step="1"
                    min="0"
                    placeholder="0,00"
                    nbInput
                    fieldSize="tiny"
                    [(ngModel)]="split.amount"
                  />
                </nb-form-field>
              </div>
              <span *ngIf="splitType != splitTypes.Exact" class="split-amount">
                {{ split.amount | currency: "EUR" }}
              </span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <th>Category</th>
      <td>
        <category-picker
          [fullWidth]="true"
          [category]="transaction.categoryId.valueOrElse(undefined)"
          (categoryChange)="setCategoryId($event)"
        ></category-picker>
      </td>
    </tr>
    <tr>
      <th>
        Needs confirmation
        <nb-icon
          icon="info-outline"
          nbTooltip="Check this if you don't know the exact date or amount."
          status="info"
        ></nb-icon>
      </th>
      <td>
        <nb-checkbox
          [disabled]="editing"
          [(checked)]="transaction.needsConfirmation"
        ></nb-checkbox>
      </td>
    </tr>
  </tbody>
</table>

<table *ngIf="!transaction.fullyEditable" class="transaction-input-table">
  <tbody>
    <tr>
      <th>Account</th>
      <td
        nbTooltip="This property can not be edited for imported transactions."
      >
        <account-picker
          [fullWidth]="true"
          [(account)]="transaction.accountId"
          [onlyNormalAccounts]="true"
          [disabled]="true"
        ></account-picker>
      </td>
    </tr>
    <tr>
      <th>Date</th>
      <td nbTooltip="Edit this property in Splitwise.">
        <date-picker
          [date]="transaction.date"
          (dateChange)="dateChanged($event)"
          [disabled]="true"
        ></date-picker>
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td nbTooltip="Edit this property in Splitwise.">
        <input
          type="text"
          placeholder="Description"
          nbInput
          fieldSize="small"
          fullWidth
          [(ngModel)]="transaction.description"
          [disabled]="true"
        />
      </td>
    </tr>
    <tr>
      <th>Amount</th>
      <td nbTooltip="Edit this property in Splitwise." class="amount-cell">
        <nb-form-field>
          <nb-icon nbPrefix icon="euro-sign" pack="fas"></nb-icon>
          <input
            type="number"
            nbInput
            fieldSize="small"
            fullWidth
            [(ngModel)]="transaction.personalAmount"
            [disabled]="true"
          />
        </nb-form-field>
      </td>
    </tr>
    <tr>
      <th>Category</th>
      <td>
        <category-picker
          [fullWidth]="true"
          [category]="transaction.categoryId.valueOrElse(undefined)"
          (categoryChange)="setCategoryId($event)"
        ></category-picker>
      </td>
    </tr>
    <tr>
      <th>Needs confirmation</th>
      <td>
        <nb-checkbox
          [disabled]="true"
          [(checked)]="transaction.needsConfirmation"
        ></nb-checkbox>
      </td>
    </tr>
  </tbody>
</table>
