<warning *ngIf="warningMessage.isSome" [message]="warningMessage.value" [marginBottom]="8"></warning>
<table class="transaction-input-table">
  <tbody>
    <tr>
      <th>Account</th>
      <td>
        <wv8-autocomplete
          [items]="accounts"
          [itemId]="accountId"
          [itemTitle]="accountTitle"
          [itemIcon]="accountIcon"
          placeholder="Select account..."
          [multiSelect]="false"
          [canDeselect]="false"
          [selectedItems]="[transaction.account]"
          (selectedItemsChanged)="setAccount($event)"
        >
        </wv8-autocomplete>
      </td>
    </tr>
    <tr>
      <th>Date</th>
      <td>
        <date-picker [date]="transaction.date" (dateChange)="dateChanged($event)" [disabled]="warningMessage.isSome"></date-picker>
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td>
        <input
          type="text"
          placeholder="Description"
          nbInput
          fieldSize="small"
          fullWidth
          [(ngModel)]="transaction.description"
          [disabled]="warningMessage.isSome"
        />
      </td>
    </tr>
    <tr>
      <th>Amount</th>
      <td class="amount-cell">
        <nb-form-field>
          <nb-icon nbPrefix icon="euro-sign" pack="fas"></nb-icon>
          <input
            type="number"
            step="1"
            min="0"
            placeholder="100,00"
            nbInput
            fieldSize="small"
            fullWidth
            [(ngModel)]="transaction.amount"
            (ngModelChange)="calculateSplitAmounts()"
            [disabled]="warningMessage.isSome"
          />
        </nb-form-field>
        <div *ngIf="splitwiseIntegrationEnabled && warningMessage.isNone" class="amount-start-split" (click)="toggleSpecifyingSplits()">
          <span *ngIf="hasSplits">Remove splits...</span>
          <span *ngIf="!hasSplits">Specify splits...</span>
        </div>
      </td>
    </tr>
    <tr *ngIf="splitwiseIntegrationEnabled && hasSplits">
      <th>
        <div>Splits</div>
        <nb-select
          class="split-type-select"
          placeholder="Split type"
          [(selected)]="splitType"
          (selectedChange)="onSplitTypeChanged()"
          [fullWidth]="false"
          [disabled]="warningMessage.isSome"
          size="tiny"
        >
          <nb-option *ngFor="let type of splitTypes | enumToArray" [value]="type.index">{{ type.name }}</nb-option>
        </nb-select>
      </th>
      <td>
        <table class="splits-table">
          <tr
            *ngFor="let split of splits"
            class="split-row"
            [ngClass]="{
              equal: splitType == splitTypes.Equal,
              stakes: splitType == splitTypes.Stakes,
              exact: splitType == splitTypes.Exact
            }"
          >
            <td>
              <nb-checkbox
                *ngIf="splitType == splitTypes.Equal"
                class="checkbox"
                [(checked)]="split.hasSplit"
                (checkedChange)="calculateSplitAmounts()"
                [disabled]="warningMessage.isSome"
              ></nb-checkbox>
              <span class="name" [ngClass]="{ me: split.userId == -1 }"> {{ split.name }}</span>
              <div *ngIf="splitType == splitTypes.Stakes" class="stake-input">
                <div class="counter">
                  <div *ngIf="split.stake > 0" class="minus" (click)="addToStake(split, -1)">&#8211;</div>
                  <div
                    class="count"
                    [ngClass]="{
                      hasStake: split.stake > 0,
                      noStake: split.stake == 0
                    }"
                    (click)="addToStakeIfZero(split)"
                  >
                    {{ split.stake }}
                  </div>
                  <div class="plus" (click)="addToStake(split, 1)">+</div>
                </div>
              </div>
              <div *ngIf="splitType == splitTypes.Exact" class="exact-input">
                <nb-form-field>
                  <nb-icon nbPrefix icon="euro-sign" pack="fas"></nb-icon>
                  <input type="number" step="1" min="0" placeholder="0,00" nbInput fieldSize="tiny" [(ngModel)]="split.amount" />
                </nb-form-field>
              </div>
              <span *ngIf="splitType != splitTypes.Exact" class="split-amount">
                {{ split.amount | currency : "EUR" }}
              </span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <th>Category</th>
      <td>
        <wv8-autocomplete
          [items]="categories"
          [itemId]="categoryId"
          [itemTitle]="categoryTitle"
          [itemIcon]="categoryIcon"
          [itemChildren]="categoryChildren"
          placeholder="Select category..."
          [multiSelect]="false"
          [canDeselect]="false"
          [selectedItems]="[transaction.category.valueOrElse(undefined)]"
          (selectedItemsChanged)="setCategory($event)"
        >
        </wv8-autocomplete>
      </td>
    </tr>
    <tr>
      <th>
        Needs confirmation
        <nb-icon icon="info-outline" nbTooltip="Check this if you don't know the exact date or amount." status="info"></nb-icon>
      </th>
      <td>
        <nb-checkbox [disabled]="editing || warningMessage.isSome" [(checked)]="transaction.needsConfirmation"></nb-checkbox>
      </td>
    </tr>
  </tbody>
</table>
