<table>
  <tbody>
    <tr>
      <th>Account</th>
      <td>
        <account-picker
          [disabled]="this.editing"
          [fullWidth]="true"
          [(account)]="transaction.accountId"
        ></account-picker>
      </td>
    </tr>
    <tr>
      <th>Date</th>
      <td>
        <input
          #datePickerInput
          nbInput
          fieldSize="small"
          placeholder="Pick period"
          fullWidth
          [nbDatepicker]="datePicker"
        />
        <nb-datepicker #datePicker [(date)]="transaction.date"></nb-datepicker>
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td>
        <input
          type="text"
          placeholder="Description"
          nbInput
          fieldSize="small"
          fullWidth
          [(ngModel)]="transaction.description"
        />
      </td>
    </tr>
    <tr>
      <th>Amount</th>
      <td>
        <input
          type="number"
          step="1"
          min="0"
          placeholder="100,00"
          nbInput
          fieldSize="small"
          fullWidth
          [(ngModel)]="transaction.amount"
        />
      </td>
    </tr>
    <tr>
      <th>Category</th>
      <td>
        <category-picker
          [disabled]="this.editing"
          [fullWidth]="true"
          [category]="transaction.categoryId.valueOrElse(undefined)"
          (categoryChange)="setCategoryId($event)"
        ></category-picker>
      </td>
    </tr>
  </tbody>
</table>
