<angular2-smart-table #table [settings]="settings" [source]="source" (userRowSelect)="rowSelected($event)"> </angular2-smart-table>
<div *ngIf="pager.display && totalPages > 1" class="pagination-container">
  <span nbTooltip="To page 1">
    <button nbButton class="pagination-button" status="basic" (click)="goToPage(1)" [disabled]="currentPage == 1">
      <nb-icon icon="arrowhead-left-outline"></nb-icon>
    </button>
  </span>
  <button nbButton class="pagination-button" status="basic" (click)="goToPage(currentPage - 1)" [disabled]="currentPage == 1">
    <nb-icon icon="arrow-ios-back-outline"></nb-icon>
  </button>
  <button
    *ngFor="let i of getPaginationNumbers()"
    nbButton
    class="pagination-button"
    [status]="currentPage == i ? 'primary' : 'basic'"
    (click)="goToPage(i)"
  >
    {{ i }}
  </button>
  <button nbButton class="pagination-button" status="basic" (click)="goToPage(currentPage + 1)" [disabled]="currentPage == totalPages">
    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
  </button>
  <span [nbTooltip]="'To page ' + totalPages">
    <button nbButton class="pagination-button" status="basic" (click)="goToPage(totalPages)" [disabled]="currentPage == totalPages">
      <nb-icon icon="arrowhead-right-outline"></nb-icon>
    </button>
  </span>
</div>
