<nb-card>
  <nb-card-header>
    {{header}}
  </nb-card-header>
  <nb-card-body>
    <table>
      <tbody>
        <tr>
          <th>Name</th>
          <td>
            <input
              type="text"
              nbInput
              fieldSize="small"
              fullWidth
              [(ngModel)]="budget.name"
              placeholder="Debit card"
            />
          </td>
        </tr>
        <tr>
            <tr>
              <th>Start balance</th>
              <td>
                <input
                  type="number"
                  nbInput
                  fieldSize="small"
                  fullWidth
                  step="1"
                  placeholder="100,00"
                />
              </td>
            </tr>
            <tr>
          <th>Default</th>
          <td>
            <nb-checkbox
            ></nb-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer class="text-center">
    <div class="row">
      <div class="col-sm-6">
        <button class="cancel" nbButton status="danger" (click)="cancel()">
          Cancel
          <nb-icon icon="close-outline"></nb-icon>
        </button>
      </div>
      <div class="col-sm-6">
        <button nbButton status="success" (click)="submit()">
          Submit
          <nb-icon icon="save-outline"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
