<div
  *ngIf="differentPersonalAmount"
  [nbPopover]="splitsExplainerPopover"
  nbPopoverTrigger="hint"
  class="underline content"
>
  <span> {{ typedRowData.personalAmount | currency: "EUR" }}</span>
</div>
<div
  *ngIf="importedTransaction"
  [nbPopover]="importExplainerPopover"
  nbPopoverTrigger="hint"
  class="underline content"
>
  <span> {{ typedRowData.personalAmount | currency: "EUR" }}</span>
</div>
<div *ngIf="!importedTransaction && !differentPersonalAmount" class="content">
  {{ typedRowData.amount | currency: "EUR" }}
</div>
<ng-template #splitsExplainerPopover>
  <div class="splits-explainer">
    <table class="splits-explainer-table">
      <tr>
        <th>Personal amount</th>
        <td>{{ typedRowData.personalAmount | currency: "EUR" }}</td>
      </tr>
      <tr class="last-row">
        <th>Splits</th>
        <td>{{ this.splitDetailsSum | currency: "EUR" }}</td>
      </tr>
      <!-- <tr class="last-row">
        <th>Payment requests</th>
        <td>{{ this.paymentRequestsSum | currency: "EUR" }}</td>
      </tr> -->
      <tr class="sum-row">
        <th>Paid amount</th>
        <td>{{ typedRowData.amount | currency: "EUR" }}</td>
      </tr>
    </table>
  </div>
</ng-template>

<ng-template #importExplainerPopover>
  <div class="import-explainer">Transaction was imported from Splitwise.</div>
</ng-template>
