<div *ngIf="account" class="row">
  <div class="col-sm-12">
    <nb-card>
      <nb-card-header>
        <wv8-icon-with-background
          [icon]="account.icon.name"
          [pack]="account.icon.pack"
          [color]="account.icon.color"
        ></wv8-icon-with-background>
        <wv8-obsolete-container
          [text]="account.description"
          [data]="account"
          [tooltipPlacement]="'top'"
        ></wv8-obsolete-container>
        <button
          *ngIf="!account.isObsolete"
          nbTooltip="Edit"
          nbTooltipPlacement="right"
          nbButton
          size="tiny"
          (click)="onEditClick()"
        >
          <nb-icon icon="edit-outline"></nb-icon>
        </button>
        <button
          *ngIf="account.isObsolete"
          nbTooltip="Recover"
          nbTooltipPlacement="right"
          nbButton
          size="tiny"
          status="info"
          (click)="onObsoleteClick()"
        >
          <nb-icon icon="refresh-outline"></nb-icon>
        </button>
        <button
          *ngIf="!account.isObsolete"
          nbTooltip="Mark obsolete"
          nbTooltipPlacement="right"
          nbButton
          size="tiny"
          status="danger"
          (click)="onObsoleteClick()"
        >
          <nb-icon icon="trash-2-outline"></nb-icon>
        </button>
      </nb-card-header>
      <nb-card-body>
        <table>
          <tbody>
            <tr>
              <th>Id</th>
              <td>{{ account.id }}</td>
            </tr>
            <tr>
              <th>Current balance</th>
              <td>{{ account.currentBalance | currency: "EUR" }}</td>
            </tr>
            <tr>
              <th>Default</th>
              <td>
                <nb-icon
                  *ngIf="account.isDefault"
                  icon="checkmark-circle-2-outline"
                  status="primary"
                ></nb-icon>
                <nb-icon
                  *ngIf="!account.isDefault"
                  icon="close-circle-outline"
                ></nb-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
      <nb-card>
          <nb-card-header> Balans afgelopen 12 maanden </nb-card-header>
          <nb-card-body>
              <div class="chart-container">
                  <div echarts [options]="balanceChartOptions" class="echart"></div>
              </div>
          </nb-card-body>
      </nb-card>
  </div>
</div>
