<wv8-icon-with-background
  *ngIf="rowData.icon"
  [icon]="rowData.icon.name"
  [color]="rowData.icon.color"
  [pack]="rowData.icon.pack"
></wv8-icon-with-background>
<span *ngIf="value">{{ value }}</span>
<span *ngIf="!value">{{ rowData.name }}</span>
<nb-icon
  nbTooltip="Default"
  nbTooltipPlacement="right"
  *ngIf="rowData.isDefault"
  icon="star"
  status="primary"
></nb-icon>
<nb-icon
  nbTooltip="Obsolete"
  nbTooltipPlacement="right"
  *ngIf="rowData.isObsolete"
  icon="alert-circle-outline"
  status="warning"
></nb-icon>
