:host {
  display: flex;
  align-items: center;
}

* {
  margin-right: 5px;
}

.icons-container {
  top: 6px;
  position: relative;
  display: inline-block;
}

.vertical-center {
  position: relative;
  top: 5px;
  display: inline-block;
}
