<nb-card>
  <nb-card-header>
    {{ header }}
  </nb-card-header>
  <nb-card-body>
    <table>
      <tbody>
        <tr>
          <th>Icon</th>
          <td>
            <div
              class="clickable"
              [nbPopover]="iconPickerComponent"
              [nbPopoverContext]="iconPickerContext"
              nbPopoverPlacement="right"
              nbPopoverTrigger="noop"
              (click)="openIconChanger()"
            >
              <wv8-icon-with-background
                [icon]="account.icon.name"
                [pack]="account.icon.pack"
                [color]="account.icon.color"
                (iconChanged)="onIconChange($event)"
              ></wv8-icon-with-background>
            </div>
          </td>
        </tr>
        <tr>
          <th>Name</th>
          <td>
            <input
              type="text"
              nbInput
              fieldSize="small"
              fullWidth
              [(ngModel)]="account.description"
              [disabled]="account.isObsolete"
              placeholder="Debit card"
            />
          </td>
        </tr>
        <tr *ngIf="editing">
          <th>Default</th>
          <td>
            <nb-checkbox
              [(checked)]="account.isDefault"
              [disabled]="account.isObsolete"
            ></nb-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer class="text-center">
    <div class="row">
      <div class="col-sm-6">
        <button class="cancel" nbButton status="danger" (click)="cancel()">
          Cancel
          <nb-icon icon="close-outline"></nb-icon>
        </button>
      </div>
      <div class="col-sm-6">
        <button
          nbButton
          status="success"
          [disabled]="account.isObsolete"
          (click)="submit()"
        >
          Submit
          <nb-icon icon="save-outline"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
