<div class="row">
  <div class="col-sm-12 col-xxxl-6">
    <nb-card>
      <nb-card-header>
        <span class="title">Budgets</span>
        <button nbButton class="add-button" size="small" status="primary" (click)="onClickAdd($event)">
          <nb-icon icon="plus-outline"></nb-icon>
        </button>

        <div class="header-right">
          <period-picker
            textAlign="center"
            (periodChanged)="onSetPeriod($event)"
          ></period-picker>
        </div>
      </nb-card-header>

      <nb-card-body>
        <budgets-table [budgets]="budgets"></budgets-table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-12 col-xxxl-6">
    <!-- RECURRING HERE -->
  </div>
</div>
