<nb-card>
  <nb-card-header>
    {{ header }}
  </nb-card-header>
  <nb-card-body>
    <nb-tabset #tabSet fullWidth (changeTab)="onTypeChange($event)">
      <nb-tab
        #expenseTab
        tabTitle="Expense"
        [tabindex]="transactionTypes.Expense"
        tabIcon="trending-down-outline"
        [disabled]="editing && recurringTransaction.type != transactionTypes.Expense"
      >
        <create-or-edit-recurring-expense
          #expenseTabComponent
          *ngIf="initialized"
          [recurringTransaction]="recurringTransaction"
          [editing]="editing"
          [(updateInstances)]="updateInstances"
          [categories]="categories"
          [accounts]="accounts"
        >
        </create-or-edit-recurring-expense>
      </nb-tab>
      <nb-tab
        #incomeTab
        tabTitle="Income"
        [tabindex]="transactionTypes.Income"
        tabIcon="trending-up-outline"
        [disabled]="editing && recurringTransaction.type != transactionTypes.Income"
      >
        <create-or-edit-recurring-income
          *ngIf="initialized"
          [recurringTransaction]="recurringTransaction"
          [editing]="editing"
          [(updateInstances)]="updateInstances"
          [categories]="categories"
          [accounts]="accounts"
        >
        </create-or-edit-recurring-income>
      </nb-tab>
      <nb-tab
        #internalTab
        tabTitle="Transfer"
        [tabindex]="transactionTypes.Transfer"
        tabIcon="swap-outline"
        [disabled]="editing && recurringTransaction.type != transactionTypes.Transfer"
      >
        <create-or-edit-recurring-transfer
          *ngIf="initialized"
          [recurringTransaction]="recurringTransaction"
          [editing]="editing"
          [(updateInstances)]="updateInstances"
          [categories]="categories"
          [accounts]="accounts"
        >
        </create-or-edit-recurring-transfer>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
  <nb-card-footer class="text-center">
    <div class="row">
      <div class="col-sm-6">
        <button class="cancel" nbButton status="danger" (click)="cancel()">
          Cancel
          <nb-icon icon="close-outline"></nb-icon>
        </button>
      </div>
      <div class="col-sm-6">
        <button nbButton status="success" (click)="submit()">
          Submit
          <nb-icon icon="save-outline"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
