<table>
  <tbody>
    <tr>
      <th>Account</th>
      <td>
        <account-picker
          [fullWidth]="true"
          [(account)]="transaction.accountId"
        ></account-picker>
      </td>
    </tr>
    <tr>
      <th>Date</th>
      <td>
        <date-picker
          [date]="transaction.date"
          (dateChange)="dateChanged($event)"
        ></date-picker>
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td>
        <input
          type="text"
          placeholder="Description"
          nbInput
          fieldSize="small"
          fullWidth
          [(ngModel)]="transaction.description"
        />
      </td>
    </tr>
    <tr>
      <th>Amount</th>
      <td>
        <nb-form-field>
          <nb-icon nbPrefix icon="euro-sign" pack="fas"></nb-icon>
          <input
            type="number"
            step="1"
            min="0"
            placeholder="100,00"
            nbInput
            fieldSize="small"
            fullWidth
            [(ngModel)]="transaction.amount"
          />
        </nb-form-field>
      </td>
    </tr>
    <tr>
      <th>Category</th>
      <td>
        <category-picker
          [fullWidth]="true"
          [category]="transaction.categoryId.valueOrElse(undefined)"
          (categoryChange)="setCategoryId($event)"
        ></category-picker>
      </td>
    </tr>
    <tr>
      <th>
        Needs confirmation
        <nb-icon
          icon="info-outline"
          nbTooltip="Check this if you don't know the exact date or amount."
          status="info"
        ></nb-icon>
      </th>
      <td>
        <nb-checkbox
          [disabled]="this.editing"
          [(checked)]="transaction.needsConfirmation"
        ></nb-checkbox>
      </td>
    </tr>
  </tbody>
</table>
