<warning *ngIf="warningMessage.isSome" [message]="warningMessage.value" [marginBottom]="8"></warning>
<table *ngIf="transaction.fullyEditable">
  <tbody>
    <tr>
      <th>Account</th>
      <td>
        <wv8-autocomplete
          [items]="accounts"
          [itemId]="accountId"
          [itemTitle]="accountTitle"
          [itemIcon]="accountIcon"
          placeholder="Select account..."
          [multiSelect]="false"
          [canDeselect]="false"
          [selectedItems]="[transaction.account]"
          (selectedItemsChanged)="setAccount($event)"
        >
        </wv8-autocomplete>
      </td>
    </tr>
    <tr>
      <th>Date</th>
      <td>
        <date-picker [date]="transaction.date" (dateChange)="dateChanged($event)" [disabled]="warningMessage.isSome"></date-picker>
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td>
        <input
          type="text"
          placeholder="Description"
          nbInput
          fieldSize="small"
          fullWidth
          [(ngModel)]="transaction.description"
          [disabled]="warningMessage.isSome"
        />
      </td>
    </tr>
    <tr>
      <th>Amount</th>
      <td>
        <nb-form-field>
          <nb-icon nbPrefix icon="euro-sign" pack="fas"></nb-icon>
          <input
            type="number"
            step="1"
            min="0"
            placeholder="100,00"
            nbInput
            fieldSize="small"
            fullWidth
            [(ngModel)]="transaction.amount"
            [disabled]="warningMessage.isSome"
          />
        </nb-form-field>
      </td>
    </tr>
    <tr>
      <th>Receiver</th>
      <td>
        <wv8-autocomplete
          [items]="accounts"
          [itemId]="accountId"
          [itemTitle]="accountTitle"
          [itemIcon]="accountIcon"
          placeholder="Select receiver..."
          [multiSelect]="false"
          [canDeselect]="false"
          [selectedItems]="[transaction.receivingAccount.valueOrElse(undefined)]"
          (selectedItemsChanged)="setReceiver($event)"
        >
        </wv8-autocomplete>
      </td>
    </tr>
    <tr>
      <th>
        Needs confirmation
        <nb-icon icon="info-outline" nbTooltip="Check this if you don't know the exact date or amount." status="info"> </nb-icon>
      </th>
      <td>
        <nb-checkbox [disabled]="this.editing || warningMessage.isSome" [(checked)]="transaction.needsConfirmation"></nb-checkbox>
      </td>
    </tr>
  </tbody>
</table>
