<div class="header-container">
  <div class="logo-container">
    <a *ngIf="!hideMenuButton" (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><span>Wv8 Finance</span></a>
  </div>
  <div class="create-transaction-shortcut">
    <button nbButton class="header-button" size="small" status="primary" (click)="onClickAddTransaction($event)">
      <span class="create-transaction-text">Add transaction</span>
      <nb-icon icon="plus-outline" class="icon"></nb-icon>
    </button>
  </div>
</div>
