@import "./themes";

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }

  .table tr td {
    padding: 0.5em 1em;
  }

  .table tr th,
  .table tr th a,
  .table tr.ng2-smart-titles th a.sort.asc,
  .table tr.ng2-smart-titles th a.sort.desc {
    font-weight: bold;
  }

  .nb-tree-grid-row:nth-child(2n):not(:hover),
  .table tbody tr:nth-child(2n) {
    background-color: #f7f9fc;
  }

  .table tbody tr:hover,
  .table tbody tr.selected:hover {
    background-color: #edf1f7 !important;
  }

  .table tbody tr.selected {
    background-color: unset !important;
  }

  .table tr td,
  .table tr th {
    position: relative;
    border: 1px solid #edf1f7 !important;
    vertical-align: middle;
  }

  nb-select[size="small"] .select-button.placeholder,
  [nbInput].size-small::placeholder {
    font-size: 0.8125rem;
  }

  nb-select[size="tiny"] .select-button.placeholder,
  [nbInput].size-tiny::placeholder {
    font-size: 0.7rem;
  }

  nb-option:focus {
    background-color: unset;
  }

  .cdk-overlay-pane {
    z-index: 1100;
  }
}
